/* barlow-regular - latin */
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/barlow-v12-latin-regular.woff2") format("woff2"), url("../fonts/barlow-v12-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* barlow-700 - latin */
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/barlow-v12-latin-700.woff2") format("woff2"), url("../fonts/barlow-v12-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* fraunces-900 - latin */
@font-face {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../fonts/fraunces-v24-latin-900.woff2") format("woff2"), url("../fonts/fraunces-v24-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1320px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.header {
  max-width: 100%;
}

header {
  background-color: #fff;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  background-color: #fff;
  max-width: 1350px;
}

.header__logo-box {
  max-width: 235px;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu-items + .header__menu-items {
  margin-left: 8px;
}

.header__link {
  font-family: "Barlow";
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #83888F;
  padding: 10px 30px;
  border-radius: 8px;
}

.header__link:hover {
  background-color: #0E8784;
  color: #fff;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.header__link:active {
  background-color: #FDD6BA;
  color: #fff;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.header__mobile-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 200px;
  position: absolute;
  top: 65%;
  right: 2%;
  z-index: -2;
  opacity: 0;
  background-color: #fff;
}

.header__mobile-btn {
  display: none;
}

.header__menu-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 750px) {
  .header__mobile-btn {
    background-image: url("../img/header__menu.svg");
    background-repeat: no-repeat;
    width: 17px;
    height: 16px;
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #fff;
    margin-left: 30px;
  }
  .header__mobile-btn:checked .header__mobile-box {
    z-index: 10000;
    opacity: 1;
  }
  .header__link {
    display: none;
  }
}
.hero_bgimage {
  background-image: url("../img/hero-bgimage.jpg");
  background-position-x: right;
  border-radius: 10px;
  z-index: 1;
  background-repeat: no-repeat;
}

.hero__title {
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  padding-top: 100px;
}

.hero__text {
  font-family: "Barlow";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin: 30px 0 52px 0;
}

.hero__link {
  font-weight: 900;
  text-align: center;
}

.hero__link {
  font-family: "Fraunces";
  font-size: 18px;
  line-height: 25px;
  color: #fefcf7;
  padding: 15px 30px;
  background: #66d2cf;
  border-radius: 6px;
  display: inline-block;
  margin-top: 31px;
  margin-bottom: 100px;
}

.hero__all-text {
  max-width: 493px;
  margin: 75px 0 110px 70px;
  color: #fff;
}

.header__link:hover {
  background-color: #333d4b;
}

.header__link:active {
  background-color: #fdd6ba;
}

.hero__link:hover {
  background-color: #0e8784;
}

.hero__link:active {
  background-color: #e2dedb;
}

@media only screen and (max-width: 725px) {
  .hero_bgimage {
    background-image: url("../img/hero-bgimage-tablet.jpg");
    background-position-x: right;
  }
  .hero__link {
    margin-top: 0;
    margin-bottom: 70px;
  }
  .hero__title {
    padding-top: 50px;
    font-size: 48px;
    line-height: 48px;
  }
  .hero__all-text {
    text-align: center;
  }
}
@media only screen and (max-width: 400px) {
  .hero_bgimage {
    background-image: url("../img/hero-bgimage-mobile.jpg");
  }
  .hero__title {
    font-size: 40px;
    line-height: 40px;
  }
  .hero__all-text {
    text-align: center;
    margin: 75px 0 110px 10px;
  }
}
.collection__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  background-repeat: no-repeat;
  background-image: url("../img/collection.png");
  background-position: center top;
  padding-top: 130px;
  background-size: 100% auto;
}

.collection__img-box {
  max-width: 290px;
}

.collection__title {
  font-family: "Fraunces 9pt";
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #333D4B;
  margin-top: 71px;
}

.collection__text {
  font-family: "Barlow";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
  margin-top: 24px;
}

@media only screen and (max-width: 700px) {
  .collection__box {
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: start;
    padding-top: 40px;
  }
  .collection__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 30px;
  }
  .collection__title {
    margin-top: 0;
  }
  .collection__all-text {
    max-width: 282px;
    padding-top: 25px;
  }
}
@media only screen and (max-width: 375px) {
  .collection__item {
    display: block;
  }
  .collection__box {
    text-align: center;
  }
  .collection__all-text {
    padding-top: 0;
  }
}
.choose {
  padding-bottom: 200px;
}

.choose__top {
  background: #282f38;
  border-radius: 10px;
  padding-top: 100px;
  padding-bottom: 86px;
  text-align: center;
  position: relative;
}

.choose__title {
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #fefcf7;
  margin-bottom: 32px;
}

.choose__text {
  font-family: "Barlow";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #fefcf7;
  opacity: 0.8;
  max-width: 540px;
  margin: 0 auto;
}

.choose__list {
  max-width: 1111px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.choose__item {
  padding: 30px 48px 48px;
  background-color: #0e8784;
  border-radius: 8px;
  max-width: 350px;
  text-align: center;
}

.choose__inner-title {
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #fefcf7;
  margin-bottom: 24px;
  padding-top: 56px;
}

.choose__inner-text {
  font-family: "Barlow";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #fefcf7;
}

.choose__emty {
  position: absolute;
  width: 100%;
  border-radius: 10px;
  background-color: #282f38;
  height: 245px;
  z-index: -1;
  bottom: -67%;
}

.choose__inner-title1::before {
  content: "";
  background-repeat: no-repeat;
  background-image: url("../img/cofe.svg");
  max-width: 72px;
  height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-bottom: 50px;
}

.choose__inner-title2::before {
  content: "";
  background-repeat: no-repeat;
  background-image: url("../img/presend.svg");
  max-width: 72px;
  height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-bottom: 50px;
}

.choose__inner-title3::before {
  content: "";
  background-repeat: no-repeat;
  background-image: url("../img/car.svg");
  max-width: 72px;
  height: 72px;
  display: block;
  background-position: center center;
  margin: 0 auto;
  margin-bottom: 50px;
}

@media only screen and (max-width: 1000px) {
  .choose__list {
    display: block;
  }
  .choose__inner-title {
    padding-top: 0;
  }
  .choose__item {
    margin-left: auto;
    margin-right: auto;
    max-width: 573px;
    text-align: start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 41px 48px;
    margin-top: 0;
    margin-bottom: 24px;
  }
  .choose__inner-title1::before,
.choose__inner-title2::before,
.choose__inner-title3::before {
    display: none;
  }
  .choose__item:nth-child(1)::before {
    content: "";
    background-repeat: no-repeat;
    background-image: url("../img/cofe.svg");
    width: 130px;
    height: 72px;
    display: inline-block;
    background-position: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 55px;
  }
  .choose__item:nth-child(2)::before {
    content: "";
    background-repeat: no-repeat;
    background-image: url("../img/presend.svg");
    width: 130px;
    height: 72px;
    display: inline-block;
    background-position: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 55px;
  }
  .choose__item:nth-child(3)::before {
    content: "";
    background-repeat: no-repeat;
    background-image: url("../img/car.svg");
    width: 130px;
    height: 72px;
    display: inline-block;
    background-position: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 55px;
  }
}
@media only screen and (max-width: 700px) {
  .choose__item:nth-child(3)::before,
.choose__item:nth-child(2)::before,
.choose__item:nth-child(1)::before {
    display: none;
  }
  .choose__inner-title1::before,
.choose__inner-title2::before,
.choose__inner-title3::before {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .choose__text {
    display: none;
    background-color: #fff;
  }
  .choose__item {
    text-align: center;
    max-width: 279px;
  }
  .choose__title {
    font-size: 28px;
    line-height: 28px;
  }
}
.work__container {
  max-width: 1045px;
  text-align: center;
}

.work {
  padding-bottom: 200px;
}

.work__title {
  font-size: 24px;
  line-height: 32px;
  color: #83888f;
  margin-bottom: 80px;
}

.work__dash {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 760px;
  position: relative;
  margin-bottom: 82px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.work__dash::before {
  position: absolute;
  bottom: 15.5px;
  z-index: -1;
  width: 100%;
  height: 2px;
  background-color: #fdd6ba;
  content: "";
}

.work__span {
  width: 31px;
  height: 31px;
  background: #fefcf7;
  border: 2px solid #0e8784;
  border-radius: 50%;
  display: inline-block;
}

.work__number {
  font-style: normal;
  font-size: 72px;
  line-height: 72px;
  color: #fdd6ba;
  margin-bottom: 38px;
}

.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 64px;
}

.work__item {
  max-width: 285px;
  border: 3px solid transparent;
  margin-bottom: 64px;
  border-radius: 10px;
  padding: 10px;
}

.work__task {
  font-size: 32px;
  line-height: 36px;
  color: #333d4b;
  margin-bottom: 42px;
  max-width: 255px;
  height: 73px;
}

.button {
  color: #fefcf7;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
  background: #0e8784;
  border-radius: 6px;
  padding: 15px 30px;
}

.button:hover {
  background: #66d2cf;
}

.button:active {
  background: #e2dedb;
}

.work__item:hover {
  background-color: #333d4b;
}

.work__item {
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.work__item:hover .work__task,
.work__item:hover .work__text {
  color: #fff;
}

.work__text {
  font-family: "Barlow";
  max-width: 285px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333d4b;
}

.work__title:hover {
  cursor: pointer;
  color: #000;
}

@media only screen and (max-width: 900px) {
  .work__dash {
    display: none;
  }
  .work__list {
    display: block;
    text-align: center;
  }
  .work__item {
    margin-left: auto;
    margin-right: auto;
  }
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer {
  background-color: #2C343E;
}

.footer__link {
  font-family: "Barlow";
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #83888F;
  padding: 18px 25px;
  border-radius: 10px;
}

.footer__menu-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__company-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__text + .footer__text {
  margin-left: 33px;
}

.footer__company + .footer__company {
  margin-left: 24px;
}

.footer__link:hover {
  background-color: #333D4B;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  color: #000;
}

.footer__link:active {
  background-color: #FDD6BA;
  color: #000;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

@media only screen and (max-width: 900px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__logo {
    margin-bottom: 32px;
  }
  .footer__menu-box {
    margin-bottom: 65px;
  }
  .footer__text + .footer__text {
    margin-left: 10px;
  }
}
@media only screen and (max-width: 400px) {
  .footer__menu-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__text + .footer__text {
    margin-left: 0;
  }
}/*# sourceMappingURL=main.css.map */