.quality {
  margin-top: 250px;
  background-color: #2C343E;
  z-index: -1;
  position: relative;
}

.quality__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
  }

  .quality__all-text {
    max-width: 540px;
    margin-top: 88px;
  }

  .quality__title {
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #FEFCF7;
  }

  .quality__text {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    margin-top: 32px;
  }

  .quality__img-box {
    max-width: 445px;
    z-index: 2;
    margin-bottom: 50px;
  }

  .quality__shadow {
    max-width: 100%;
    left: 0%;
    z-index: 1;
    background-color: #fff;
    height: 150px;
    position: absolute;
    top: 0%;
  }

  .quality__img{
    border-radius: 10px;
  }







