.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer {
  background-color: #2C343E;
}

.footer__link {
  font-family: 'Barlow';
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: #83888F;
  padding: 18px 25px;
  border-radius: 10px;
  
}


.footer__menu-box {
  display: flex;
}

.footer__company-box {
  display: flex;
}

.footer__text+.footer__text {
  margin-left: 33px;
}

.footer__company+ .footer__company{
  margin-left: 24px;
}

.footer__link:hover{
  background-color: #333D4B;
  transition-duration: 0.4s;
  color: #000;
}

.footer__link:active{
  background-color: #FDD6BA;
  color: #000;
  transition-duration: 0.4s;
}



@media only screen and (max-width:900px){
  .footer__container{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer__logo{
    margin-bottom: 32px;
  }

  .footer__menu-box{
    margin-bottom: 65px;
  }

  .footer__text + .footer__text{
    margin-left: 10px;
  }
}

@media only screen and (max-width:400px){
  .footer__menu-box{
    flex-direction: column;
    align-items: center;

  }

  .footer__text + .footer__text{
    margin-left: 0;
  }
}

